@import url("./modules/node_modules/modern-normalize/modern-normalize.css");

@font-face {
    font-family: "open-sans";
    src: url("./fonts/opensans-variablefont.woff2") format("woff2-variations");
    font-weight: 300 800;
    font-stretch: 75% 100%;
}

*,
*::before,
*::after {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}



